html
{
    font-family: sans-serif;
    font-size: 16px;
}

abbr
{
    text-decoration: none;
}

fieldset
{
    border: 0;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]
{
    -moz-appearance: textfield;
}

legend
{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.page-container
{
    max-width: 100%;
    width: 100%;
}

.attributes-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.attributes-list.primary,
.attributes-list.secondary,
.attributes-list.skills
{
    margin-bottom: 10px;
}

.attributes-list.primary li,
.attributes-list.secondary li
{
    display: table-cell;
    text-align: center;
}

.attributes-list.primary label
{
    display: block;
}

.attributes-list.secondary label
{
    display: block;
    font-size: 11px;
}

.attributes-list.skills label
{
    display: inline-block;
    width: 125px;
}

.attributes-list.primary input,
.attributes-list.secondary input
{
    border: none;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.attributes-list.secondary input
{
    font-size: 20px;
}

.attributes-list.skills input
{
    border: none;
    display: inline-block;
    width: 25px;
}
